/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('/static/assets/images/index.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 1000;
    font-size: 18px;
    backdrop-filter: blur(5px);
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}


.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px 20px;
    border-radius: 5px;

}
.container {
    max-width: 1000px;
    width: 40%;
    margin: 120px auto 0;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    animation: fadeIn 1.5s ease;

    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center;  /* Center text */
}

/* Bird Image Styling */
.bird-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.result-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffd700;
}

.result-container p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Prediction Result Box */
.prediction-box {
    font-size: 28px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* Button */
.button {
    display: inline-block;
    background-color:white;
    color: black;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff4500;
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
