<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/classification.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('classification') }}">Classification</a>
       
    </div>

    <div class="container">
        <h2>Upload a Bird Image</h2>
        <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <br><br>
            <input type="submit" value="Classify Bird">
        </form>
    </div>

</body>
</html>
